// ==================================================================
// =======================style global===============================
// ==================================================================
body {

  a {
    font-size: 14px;
    font-weight: 800;

    &:hover {
      color: #f04e46;
    }
  }
}

// mixin 
@mixin bold {
  font-family: 'open-sans-bold';
}

@mixin light {
  font-family: 'open-sans-light';
}

// slick prev, next
.slick-next,
.slick-prev {
  width: 20px;
  height: 32px;
  display: block;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

.slick-prev {
  background: url(../img/left.png) no-repeat;
  left: 20px;
  z-index: 1;
}

.slick-next {
  background: url(../img/right.png) no-repeat;
  right: 20px;
}


// ==================================================================
// ======================= home page ===============================
// ==================================================================
.box-highlight {
  .rank-1 {
    margin-bottom: 10px;

    .story {
      position: relative;

      &__heading {
        background: rgba(0, 0, 0, 0.5);
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px 20px;
        color: #fff;
        position: absolute;
        padding: 10px 20px;
      }

      .cms-link {
        font-size: 18px;
        margin-bottom: 5px;
        color: white;
        font-weight: normal;
      }

      .summary {
        font-size: 14px;
        font-weight: normal;
      }
    }
  }

  .nav-tab {
    overflow: hidden;
    height: 322px;
    border: 1px solid #ddd;
    padding: 0 20px;
    margin-bottom: 10px;

    &__link {
      display: flex;
      justify-content: start;

      a {
        border: none;
        cursor: default;
        color: #000;
        padding: 5px 10px;
        display: block;
        text-transform: uppercase;
        margin-right: 2px;

        &:hover {
          color: #f04e46;
          background-color: #eeeeee;
          border-color: #eeeeee #eeeeee #dddddd;
        }

      }

      .active {
        background-color: #ffba26;

        &:hover {
          pointer-events: none;
          background-color: #ffba26;
          color: #000;
        }
      }
    }

    &__content {
      .story {
        border-top: 1px solid #ddd;

        .cms-link {
          padding: 8px 0;
        }
      }

      .story:first-child {
        border-top: 0;
      }
    }

    .tab-pane {
      display: none;

      &.active {
        display: block;
      }
    }
  }

}

.box-style-1 {
  // margin-top: 30px;

  .box-heading {
    cursor: pointer;
    height: 42px;
    margin-bottom: 12px;
    background: url(../img/cat-title.png) no-repeat left top;

    &:hover {
      background-position: 0 -42px;
    }
  }

  .title {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: normal;

    &:hover {
      color: inherit;
    }

    img {
      width: 25px;
      height: 25px;
      display: inline;
      margin-right: 20px
    }
  }

  .box-content {
    .story {
      &__thumb {
        height: 167px;
        width: 270px;
        float: left;
        margin-right: 20px;
      }

      &__heading a {
        font-weight: normal;
        font-size: 18px;
      }

      .meta {
        padding-top: 5px;
        display: block;
        color: #333;
        font-size: .85em;
      }

      &__summary {
        margin-top: 10px;
        line-height: 1.4em;
      }
    }

    .rank-1 {
      margin-bottom: 30px;
    }

    .rank-2 {
      border-left: 1px solid #ddd;

      .story {
        background: url(../img/icon.png) left 10px no-repeat;
        border-top: 1px solid #ddd;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;

        a {
          font-size: 14px;
          font-weight: 800;
          @include bold();
        }
      }

      .story:first-child {
        background: url(../img/icon.png) left 0 no-repeat;
        padding-top: 0;
        border-top: 0;
      }
    }
  }
}

.box-highlight+.box-style-1 {
  margin-top: 0;
}

// ==================================================================
// ======================= cate ===============================
// ==================================================================
.box-highlight-cate {
  .rank-1 {
    .story {
      &__thumb {
        width: 370px;
        height: 228px;
        margin-right: 20px;
        float: left;
      }

      &__heading a {
        line-height: 1.3em;
        font-size: 18px;
        font-weight: normal;
      }

      .time {
        margin-top: 7px;
        color: #333;
        font-size: .85em;
        display: block;
      }

      &__summary {
        line-height: 1.4em;
        font-size: 14px;
        color: #333;
        margin-top: 12px;
      }
    }
  }

  .rank-2 {
    border-left: 1px solid #ddd;

    .story {
      border-top: 1px solid #ddd;
      padding-top: 8px;
      margin-top: 8px;

      &:first-child {
        border-top: 0;
        padding-top: 0;
        margin-top: 0;
      }

      &__heading a {
        font-weight: 800;
        @include bold();
      }
    }
  }
}

.box-style-2 {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 20px;

  &:first-child {
    border-top: 0;
    padding-top: 0;
    margin-top: 50px;
  }

  .rank-1 {
    .story {
      &__heading {
        margin-bottom: 7px;

        a {
          font-size: 18px;
          font-weight: normal;
        }
      }

      .time {
        font-size: 12px;
        font-weight: normal;
        color: #777;
        display: inline-block;
      }

      &__thumb {
        float: left;
        width: 270px;
        height: 227px;
        margin-right: 20px;
      }

      &__summary {
        line-height: 1.4em;
        font-size: 14px;
      }
    }
  }

  .rank-2 {
    .story {

      margin-top: 17px;

      &:first-child {
        margin-top: 0;
      }

      &__thumb {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        float: left;
      }

      &__heading a {
        font-weight: 800;
        @include bold();
        font-size: 14px;
      }

      .time {
        display: block;
        margin-top: 5px;
        font-size: .85em;
      }
    }
  }
}

.pagination {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    display: flex;
  }

  a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    background: #ffba26;
    line-height: 30px;
    text-align: center;
    margin: 0 3px;
    color: #333;
    @include bold();

    &:hover {
      background: #a89a7d;
      color: #fff;
    }
  }
}

.section-article {
  .heading-page {
    border-top: 1px solid #333;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 20px;
  }
}

.box-style-3 {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px solid #ddd;
  }

  .box-heading {
    border-bottom: 1px solid #ddd;
  }

  .heading {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
  }

  .box-content {
    margin-top: 10px;

    .story {
      &__heading {
        margin-bottom: 5px;

        a {
          padding-left: 15px;
          font-weight: normal;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            border: 1px solid #ccc;
            left: 0;
            top: 7px;
          }
        }
      }
    }
  }
}