// ====================================
// Global fonts
// ====================================
/*
* TOC
*/

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/Open-sans/OpenSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/Open-sans/OpenSans-Regular.ttf');
    font-weight: 400;
}