// ====================================
// Global fonts
// ====================================
/*
* TOC
*/

@font-face {
    font-family: 'open-sans-extraBold';
    src: url('../fonts/Open-sans/OpenSans-ExtraBold.ttf');
}
@font-face {
    font-family: 'open-sans-semiBold';
    src: url('../fonts/Open-sans/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: 'open-sans-bold';
    src: url('../fonts/Open-sans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/Open-sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'open-sans-light';
    src: url('../fonts/Open-sans/OpenSans-Light.ttf');
}