// ====================================
// Story's style
// ====================================
/*
* TOC
*
*/
//
.site-footer {
    margin-top: 30px;

    .menu-footer {
        border: 1px solid #ccc;
        border-left: none;
        border-right: none;
        height: 40px;
        display: flex;
        position: relative;
        // box-shadow: 0 4px 2px -2px #EBEBEB;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0,0,0,0.08);
    }

    li {
        text-transform: uppercase;
        margin-right: 1px;

        &.active {
            box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.08);
        }

        a {
            font-size: 11px;
            color: #000;
            line-height: 40px;
            padding: 0 10px;
            font-weight: 800;
        }
    }

    .stuff {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        right: 0%;
        top: 50%;
        transform: translateY(-50%);
        border-left: 1px solid #ccc;
        height: 38px;

        .txtsearch {
            outline: none;
            border: none;
            padding-left: 10px;

            &::placeholder {
                color: #333333;
                font-size: 1.3rem;
                font-family: 'open-sans';
            }
        }

        .btnsearch {
            padding: 8px 10px 8px 0;

            i {
                font-size: 18px;
                font-weight: bold;
            }
        }

        .rss,
        .gg,
        .fb {
            width: 24px;
            height: 24px;
            display: block;
            padding: 20px 22px;
            border-left: 1px solid #ccc;
        }

        .rss {
            background: url(../img/rss.png) center no-repeat;
        }

        .gg {
            background: url(../img/google.png) center no-repeat;
        }

        .fb {
            background: url(../img/facebook.png) center no-repeat;
        }
    }

    .rank-2 {
        padding: 10px 0;

        .copyright {
            font-size: 11px;
        }
    }
}